html {
    font-size: 14px;
   
}
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge( ( 0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3: $spacer, 4: ($spacer * 1.5), 5: ($spacer * 3), 50: 50px, 100: 100px, 125: 125px, 150: 150px), $spacers);
$enable-rounded : false;
$green :#7beec7;
$component-active-bg: $green;
$nav-link-padding-y: 0;
$gray-800:#efeff0;
$info:#7beec7;
$dark:#000;
$secondary:#60606e;
$light:#fefcf9;


@import "../bootstrap-4.1.3/scss/bootstrap.scss";

.header {
    background-image: url('../images/background-about.png');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}


.imags {
    background-image: url('../images/social-media.png');
    background-repeat: no-repeat;
    background-size: 200px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.f{
    background-position:7px;
}

.t{
    background-position:-29px;
}

.y{
    background-position:-69px;
}

.in{
    background-position: -109px;
}

.p {
    background-position: -145px;
}

.ins{
    background-position: -180px;
}

a:hover{
	text-decoration: none;
}
.lines {
    position: relative;
    ::after {
        content: "/";
        position: absolute;
        margin-top: -29px;
        margin-left: 25px;
    }
}