html {
    font-size: 14px;
}
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge( ( 0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3: $spacer, 4: ($spacer * 1.5), 5: ($spacer * 3), 50: 50px, 100: 100px, 125: 125px, 150: 150px), $spacers);
$enable-rounded: false;
$green :#7beec7;
$component-active-bg: $green;
$nav-link-padding-y: 0;
$gray-800:#efeff0;
$info:#7beec7;
$dark:#000;
$secondary:#60606e;
@import "../node_modules/bootstrap/scss/bootstrap";
.header {
    background-image: url('../images/agency-bg.png');
    background-size: cover;
    min-height: 800px;
    height: 100%;
}
.inheader {
    // margin-top: 125px;
}
.subheader {
    position: relative;
    margin-bottom: -66px; // margin-top: calc(66px + 125px);
}
.choose {
    margin-top: calc(66px + 150px);
    &-title {
        margin-bottom: 100px;
    }
}
.portfolio {
    margin-top: 150px;
}
.nav-pills .nav-link {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.border-creative {
    border: 10px solid #60606e;
}
@include media-breakpoint-up(sm) {
    .footer-nav a:not(:last-child):after {
        content: '-';
        position: relative;
        left: 8px;
    }
}
@include media-breakpoint-up(md) {
    .footer-nav a:not(:last-child):after {
        left: 20px;
    }
}
.imags {
    background-image: url('../images/social-media.png');
    background-repeat: no-repeat;
    background-size: 200px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.f {
    background-position: 7px;
}
.t {
    background-position: -29px;
}
.y {
    background-position: -69px;
}
.in {
    background-position: -109px;
}
.p {
    background-position: -145px;
}
.ins {
    background-position: -180px;
}
.back {
    position: relative;
    z-index: 1;
    ::after {
        content: "";
        width: 60px;
        height: 20px;
        background: #7beec7;
        position: absolute;
        margin-left: -270px;
        margin-top: 15px;
        z-index: -1;
    }
}
.b-c {
    position: relative;
    z-index: 1;
    ::after {
        content: "";
        width: 49px;
        height: 16px;
        background: #7beec7;
        position: absolute;
        margin-left: -195px;
        margin-top: 14px;
        z-index: -1;
    }
}
a {
    color: #60606e;
}
a:hover {
    color: #60606e;
    text-decoration: none;
}
.b-s {
    position: relative;
    z-index: 1;
    ::after {
        content: "";
        width: 49px;
        height: 16px;
        background: #7beec7;
        position: absolute;
        margin-left: -190px;
        margin-top: 14px;
        z-index: -1;
    }
}
.movment {
    animation: mymove 5s 1 ease;
}
@keyframes mymove {
    from {
        top: -3000px;
    }
    to {
        top: 0px;
    }
}